apiVersion: apps/v1
kind: Deployment
metadata:
  name: svelte-graphql-relations
  labels:
    app: svelte-graphql-relations
spec:
  replicas: 2
  selector:
    matchLabels:
      app: svelte-graphql-relations
  strategy:
    rollingUpdate:
      maxSurge: 2
      maxUnavailable: 2
  minReadySeconds: 5
  template:
    metadata:
      labels:
        app: svelte-graphql-relations
    spec:
      containers:
      - name: svelte-graphql-relations
        image: registry.digitalocean.com/graphql-relations/sveltekit-graphql-relations:0.0.1-beta
        env:
        - name: GRAPHQL_URI
          value: http://graphql-relations-service
        ports:
        - containerPort: 3000
        resources:
          requests:
            cpu: 100m
          limits:
            cpu: 100m
      imagePullSecrets:
      - name: graphql-relations
---
apiVersion: v1
kind: Service
metadata:
  name: svelte-graphql-relations-service
spec:
  type: LoadBalancer
  ports:
    - name: http
      protocol: TCP
      port: 80
      targetPort: 3000
  selector:
    app: svelte-graphql-relations